################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/obj
/WebApplication1/bin/Debug/net6.0
/.vs
/entityframeworkdemonstration/.vs
/entityframeworkdemonstration/WebApplication1/bin/Debug/net6.0
/entityframeworkdemonstration/WebApplication1/obj
/EntityFrameworkUse1.0.0/obj
/EntityFrameworkUse1.0.0/bin/Debug/net6.0
/DemoTask/.vs
/DemoTask/DemoTask/bin/Debug/net6.0
/DemoTask/DemoTask/obj
